body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1f24;
}

.box {
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width: 1000px;
    margin: 20px auto;
    background: #2a2b32;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.coluna-um {
    padding: 30px;
    text-align: center;
}

.coluna-um img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.coluna-um h1 {
    font-size: 30px;
    margin: 0;
    color: #e0e0e0;
}

.coluna-um h2 {
    font-size: 14px;
    color: #e0e0e0;
    margin-top: 5px;
}

.coluna-um .info {
    margin-top: 30px;
    font-size: 14px;
}

.coluna-um .info p {
    margin: 8px 0;
}

.coluna-um .info {
    margin-top: 30px;
    font-size: 14px;
    color: #e0e0e0;
}

.coluna-dois {
    padding: 40px;
    background: #35363b;
}

.section h3 {
    color: #F5A623;
    font-size: 18px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black
    
}

.section h4 {
    color: #e0e0e0;
    font-size: 16px;
    text-align: left;
}

.section h5 {
    color: #e0e0e0;
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
}

.section h6 {
    color: #e0e0e0;
    font-size: 12px;
    bottom: 200px;
}

.voltar {
    padding: 12px 24px;
    background-color: #3b3d4f;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 45px;
    transform: translateY(-5px);
    margin: 0 auto;
}

.voltar a {
    text-decoration: none;
    color: #F5A623;
}

.voltar:hover {
    background-color: #2a2b32;
    transform: translateY(-8px);
}